.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: darkslateblue;
    color: white;
    width: auto;
    max-width: none;
    text-align: center;
    padding: 3px 5px;
    cursor: pointer;
}

@media screen and (min-width: 565px) {
    .button {
        max-width: 120px;
    }
}